<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section logo-section">
                <img src="./images/logo-la-concha-del-tigre.png" alt="La Concha del Tigre" class="footer-logo">
                    <p class="footer-description">La Concha del Tigre es una cevichería que ofrece frescura y sabor en un ambiente familiar.</p>
            </div>
            <div class="footer-section social-section">
                <h4>Redes Sociales</h4>
                <div class="social-icons">
                    <a href="https://www.facebook.com/profile.php?id=100063673354967" target="_blank" aria-label="Facebook" class="facebook-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.tiktok.com/@la.concha.del.tigre" target="_blank" aria-label="TikTok" class="tiktok-icon"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-dark-text">© 2026 La Concha del Tigre. Todos los derechos reservados.</p>
            <p class="footer-created-by">Sitio web creado por <a href="https://alocode.lat" target="_blank" class="creator-name">Alonso Leandro</a></p>
        </div>
    </div>
</footer>